@model EditProductDisplayModel
@{
}
<div class="my-2">
    <p>Edit</p>
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" id="ProductTypeId" name="ProductTypeId" asp-for="ProductTypeId" />
        <input type="hidden" id="SupplierId" name="SupplierId" asp-for="SupplierId" />
        <input type="hidden" id="ProductType" name="ProductType" asp-for="ProductType" />
        <input type="hidden" id="Supplier" name="Supplier" asp-for="Supplier" />
        <div class="mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control form-control-lg" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control form-control-lg" placeholder="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SerialNumber">SerialNumber</label>
            <input asp-for="SerialNumber" class="form-control form-control-lg" placeholder="SerialNumber" />
            <span asp-validation-for="SerialNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" class="form-control form-control-lg" placeholder="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Discount">Discount</label>
            <input asp-for="Discount" class="form-control form-control-lg" placeholder="Discount" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="InStock">InStock</label>
            <input asp-for="InStock" class="form-control form-control-lg" placeholder="InStock" />
            <span asp-validation-for="InStock" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProductTypeSelected">Product Type</label>
            <select class="form-control form-control-lg" asp-items="Model.ProductTypes" asp-for="ProductTypeSelected">
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="SupplierSelected">Supplier</label>
            <select class="form-control form-control-lg" asp-items="Model.Suppliers" asp-for="SupplierSelected">
            </select>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <button class="btn btn-block btn-success btn-lg" type="submit">Edit</button>
                <a href="/Home/Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
